<%= form_for(@email_id) do |f| %>
  <% if @email_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_id.errors.count, "error") %> prohibited this email_id from being saved:</h2>

      <ul>
      <% @email_id.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
